*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
}

.container {
  width: 100% !important;
  color: black;
}

.container {
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr) 10rem;
  position: relative;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 7rem;
}

.header {
  height: 100vh;
  width: 100%;
  transform: translateY(-7rem);
}

.about-us {
  width: 100%;
}

.offer {
  width: 100%;
  padding-top: 5rem;
  margin-top: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.6;
}

.header__title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14rem;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1.1rem;
  font-weight: 400;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  transform: translateX(-10rem);
  animation: moveInLeft ease-in 1.5s;
}
.header__title__sub {
  font-size: 6rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
  animation: moveInRight ease-in 1.5s;
  transform: translateX(10rem);
}

.offer__header {
  font-size: 6rem;
  font-weight: 500;
}
.offer__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(-10rem);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translate(10rem);
  }
}
.btn__brn {
  border-radius: 4px;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 4.4rem;
  border: 1px solid #b28451;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: 44px;
  background: #b28451;
  padding: 0 15px;
  color: #fff;
}
.btn__brn:hover {
  text-decoration: underline;
  background: #fff;
  color: #b28451;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#885a16), to(#3b2402));
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.nav__logo {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  overflow: hidden;
}
.nav__img-logo {
  height: 9rem;
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-right: 3rem;
  cursor: pointer;
}
.nav__list__anch:link, .nav__list__anch:visited {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
  display: block;
}
.nav__list__anch:hover, .nav__list__anch:active {
  color: #c69963;
  transform: translateY(-2px);
}
.nav__item {
  padding: 2rem 3rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(198, 153, 99, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/woodwork.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us {
  display: flex;
  align-items: center;
}
.about-us__img {
  width: 50%;
}
.about-us__img img {
  width: 100%;
  padding: 10rem;
}
.about-us__br {
  border: 1px solid #272727;
  height: 50rem;
  width: 1px;
}
.about-us__info {
  width: 50%;
  padding: 10rem;
  color: #272727;
}
.about-us__header {
  font-size: 4rem;
  letter-spacing: 0.7;
}
.about-us__par {
  font-size: 1.6rem;
  font-weight: 500;
}
.about-us__btn {
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  width: 50%;
}

.offer__container {
  margin: 0 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 7rem;
  grid-row-gap: 12rem;
  justify-items: center;
}
.offer__header {
  width: 100%;
  text-align: center;
  color: #272727;
  margin-bottom: 6rem;
}
.offer__card {
  height: 31rem;
  width: 25rem;
  overflow: hidden;
  position: relative;
}
.offer__item {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: all 0.4s;
}
.offer__svg {
  width: 100%;
  width: 5rem;
}
.offer__title {
  width: 100%;
  text-align: center;
}
.offer__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 11px 13px 25px -18px rgb(47, 47, 47);
}
.offer__card:hover .offer__img {
  opacity: 0.3;
}
.offer__card:hover .offer__item {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
