.footer {
  width: 100%;
  background-image: linear-gradient(
    135deg,
    hsl(45deg 41% 51%) 0%,
    hsl(45deg 45% 48%) 16%,
    hsl(44deg 49% 45%) 23%,
    hsl(43deg 53% 42%) 29%,
    hsl(43deg 57% 38%) 34%,
    hsl(43deg 61% 35%) 39%,
    hsl(43deg 63% 34%) 43%,
    hsl(42deg 65% 32%) 48%,
    hsl(43deg 67% 31%) 52%,
    hsl(42deg 68% 29%) 57%,
    hsl(43deg 70% 28%) 61%,
    hsl(43deg 70% 27%) 66%,
    hsl(43deg 68% 27%) 71%,
    hsl(43deg 67% 26%) 77%,
    hsl(43deg 65% 26%) 84%,
    hsl(43deg 65% 25%) 100%
  );
  color: #fff;
  // align-items: center;

  &__row {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;

    .footer__column {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      text-align: left;

      & .column__items {
        display: block;
        margin: 1rem auto;

        & .column__item {
          width: 100%;
          margin: 1.5rem;
          display: flex;
          align-items: center;
          // justify-content: center;

          & img {
            width: 3rem;
            margin-right: 1.5rem;
            fill: #fff;
          }

          & a:link,
          & a:visited {
            text-decoration: none;
            color: #fff;
          }

          & a:hover,
          & a:active {
            color: $color-grey-light-2;
          }
        }
      }

      .company {
        display: flex;

        .slogan {
          margin: auto 0;
          h1 {
            font-weight: 400;
            font-size: 3rem;
          }
          h3 {
            font-weight: 300;
            font-size: 1.6rem;
          }
        }

        .logo {
          height: 22rem;
          margin-right: 2rem;
        }
      }

      & button {
        width: 10rem;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
