.header {
  background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgba($color-primary, 0.3)),
      to(rgba(#000, 0.3))
    ),
    url(../img/woodwork.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
