.container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  position: relative;
}

.nav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 6rem;
}

.header {
  height: calc(100vh);
  width: 100vw;
  transform: translateY(-6rem);
}

.about-us {
  width: 100vw;
}

.offer {
  width: 100vw;
}

.cooperation {
  width: 100vw;
}

.footer {
  width: 100vw;
}
