body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.6;
}

.header__title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14rem;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1.1rem;
  font-weight: 400;
  text-shadow: 3px 3px rgba(#000000, 0.2);
  transform: translateX(-10rem);
  animation: moveInLeft ease-in 1.5s;
  &__sub {
    font-size: 6rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
    animation: moveInRight ease-in 1.5s;
    transform: translateX(10rem);
  }
}

.offer {
  &__header {
    font-size: 6rem;
    font-weight: 500;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
