// COLOR VARIABLES

$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-buton-bg: #b69d50;
$color-buton-hover: #8f7b3f;

$color-shadow: rgba(47, 47, 47, 1);
$color-invalid: rgb(255, 168, 168);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #eee;
$color-grey-light-border: #ddd;

$color-grey-dark-3: #272727;

$gradient: linear-gradient(
  135deg,
  rgb(181, 156, 79) 0%,
  rgb(177, 149, 67) 16%,
  hsl(44deg 49% 45%) 23%,
  hsl(43deg 53% 42%) 29%,
  hsl(43deg 57% 38%) 34%,
  hsl(43deg 61% 35%) 39%,
  hsl(43deg 63% 34%) 43%,
  hsl(42deg 65% 32%) 48%,
  hsl(43deg 67% 31%) 52%,
  hsl(42deg 68% 29%) 57%,
  hsl(43deg 70% 28%) 61%,
  hsl(43deg 70% 27%) 66%,
  hsl(43deg 68% 27%) 71%,
  hsl(43deg 67% 26%) 77%,
  hsl(43deg 65% 26%) 84%,
  hsl(43deg 65% 25%) 100%
);
//RESPONSIVE BREAKPOINTS

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; // 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 8px
  }
}
body {
  // max-width: 100vw;
  overflow-x: hidden;
  min-width: 350px;
}

strong {
  font-weight: normal;
}
.container {
  color: black;
}

.section {
  padding: 5rem 3rem;
  border-top: 1px solid $color-grey-light-border;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

button,
a {
  cursor: pointer;
}
