:root {
  --swiper-theme-color: #b28451;
}

.gallery {
  @media only screen and (max-width: $bp-small) {
    padding: 2.5rem 1.5rem;
  }

  &__header {
    margin-top: 2rem;
  }

  &__swiper {
    margin-top: 3rem;
  }
}
