.container {
  min-width: 320px;
  position: relative;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6rem;
}

.header {
  height: 100vh;
  width: 100%;
  transform: translateY(-6rem);

  @media only screen and (max-width: $bp-medium) {
    height: calc(100vh - 6rem);

    @media only screen and (orientation: landscape) {
      height: 120vh;
    }
  }
}

.about-us {
  width: 100%;
}

.offer {
  width: 100%;
}

.gallery {
  width: 100%;
}

.cooperation {
  width: 100%;
}

.footer {
  width: 100%;
}
