.nav {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1000;
  transition: all 0.2s;

  &__background-gradient {
    background-image: $gradient;
  }

  &__toggle {
    display: none;

    svg {
      width: 2.5rem;
      fill: #fff;
    }

    .close {
      display: none;
    }
  }

  &__checkbox {
    display: none;
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    align-items: center;
    gap: 1rem;

    @media only screen and (max-width: $bp-large) {
      gap: 1.2rem;
    }

    li {
      display: flex;
      justify-content: end;
      padding: 2rem 2rem;
      margin-right: 3rem;
      cursor: pointer;

      &:first-child {
        padding: 0;
        margin-right: auto;
      }
    }

    svg {
      width: 1.5rem;
      fill: #fff;
    }
  }

  &__img-logo {
    height: 6rem;
    margin-top: 0.7rem;
    margin-left: 5rem;
  }

  &__a {
    position: relative;
    display: block;
  }

  &__a:link,
  &__a:visited {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
  }

  &__a:hover,
  &__a:active {
    transform: translateY(-2px);
  }

  &__a:after {
    background: #fff;
    content: '';
    display: inline-block;
    height: 2px;
    margin: auto;
    position: absolute;
    bottom: -0px;
    left: 0;
    right: 0;
    transition: all 300ms;
    width: 0%;
  }

  &__a:hover:after {
    width: 100%;
  }
}

@media only screen and (max-width: $bp-large) {
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: max-content;
    background-image: $gradient;

    &__toggle {
      display: block;
      position: absolute;
      cursor: pointer;
      margin-right: 5rem;
      margin-top: 2.5rem;
      width: 4rem;

      svg {
        width: 1.5rem;
        fill: #fff;

        @media only screen and (orientation: landscape) {
          width: 2rem;
          fill: black;
        }
      }

      .close {
        display: none;
      }
    }

    &__menu {
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      color: inherit;

      @media only screen and (orientation: landscape) {
        background: transparent;
      }

      li {
        display: none;
        padding: 1rem 2rem;

        @media only screen and (orientation: landscape) {
          color: black;
        }

        &:first-child {
          display: block;
          margin-right: auto;
        }
      }
    }
  }

  #nav__checkbox:checked ~ ul.nav__menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      display: block;
    }
  }

  #nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
    fill: #fff;
  }

  #nav__checkbox:checked ~ label.nav__toggle .menu {
    display: none;
  }

  #nav__checkbox:checked ~ .nav__menu li:first-child.logo__hide {
    display: block;
  }
}

@media only screen and (max-width: $bp-large) and (orientation: landscape) {
  .nav__menu li:first-child.logo__hide {
    display: none;
  }
}

@media only screen and (max-width: $bp-large) {
  .nav__menu li.hiden {
    display: none !important;
  }
}
